[submodule "Android-Fragments/FragmentsDemo2Countries"]
	path = Android-Fragments/FragmentsDemo2Countries
	url = https://github.com/SteveTheJobless/FragmentsDemo2Countries.git
	branch = master
[submodule "Android-Fragments/FragmentsDemo"]
	path = Android-Fragments/FragmentsDemo
	url = https://github.com/SteveTheJobless/FragmentsDemo.git
